body {
    background-color: lightgray;
    color: black;
    }

p {
    font-size: 24px;
    line-height: 14px;
    font-family: sans-serif;
    color: orange;
    }

div.bar {
    display: inline-block;
    width: 20px;
    height: 75px;
    background-color: blue;
    margin-right: 2px;
    }


